@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 300;
}

h1, h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 300;
}

button {
  font-weight: 500;
}

a {
  font-weight: 400;
}

strong, b {
  font-weight: 500;
}

.text-ultra-light {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}
